.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
   backdrop-filter: blur(24px);

box-shadow: 0px 8px 24px 0px #0F173A14;
background: #0F173A14 !important;
}

.nav-link {
  color: #0d4fb3;
  transition: .3s;
}

.nav-link:hover,
.nav-link.active {
  color: #0b5ed7;
}

.navbar-brand {
  color: #0d4fb3;
}

.btn-success {
  background: #25D366;
  border: none;
}

.btn-success:hover {
  background: #20ba5a;
}