<nav class="navbar navbar-expand-lg bg-white shadow-sm py-2" dir="rtl">
    <div class="container">

        <a class="navbar-brand fw-bold text-primary fs-2" href="#"> إليت كابيتال </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbar">
            <ul class="navbar-nav gap-lg-4">
                @for(link of links; track link.title){
                <li class="nav-item">
                    <a class="nav-link fw-semibold" [href]="link.href">
                        {{ link.title }}
                    </a>
                </li>
                }
            </ul>
        </div>

        <div class="d-none d-lg-block">
            <contact-us-btn />
        </div>
    </div>
</nav>