<div class="hero" id="description">

    <img src="/images/hero/hero.png" class="hero-img" alt="hero-img">

    <div class="content">

        <div class="row h-100 align-items-nd">

            <div class="col-lg- ms-auto text-white">

                <div class="hero-content pe-5">

                    <h2 class="fw-bold mb-2 text-white">
                        إليت كابيتال
                    </h2>

                    <h3 class="fw-bold mb-4 text-white">
                        شقة A-1203
                    </h3>

                    <p class="location mb-2 text-white">
                        <img src="/images/hero/location.png" alt="">
                        <span class="pe-3"> جدة - حي الزهراء</span>
                    </p>

                    <small class="white opacity-75">
                        آخر تحديث : يونيو 2026
                    </small>

                    <h1 class="price mt-4">
                        3,000,000
                    </h1>

                    <small class="d-block mb-4">
                        شامل ضريبة القيمة المضافة
                    </small>

                    <div class="d-flex gap-3 flex-wrap">

                        <button class="btn btn-outline-white contact-btn">
                            <img src="/images/hero/mingcute_phone-fill.png" width="20">
                            <span class="text-white">
                                تواصل معنا
                            </span>
                        </button>

                        <contact-us-btn />

                    </div>

                    <button class="btn btn-primary w-100 mt-3">
                        <img src="/images/hero/calender.png" alt="">
                        احجز الشقة
                    </button>

                </div>

            </div>

        </div>
    </div>

</div>